.LichSuDatBanNV {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000030;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.LichSuDatBanNV_content {
    background-color: #fff;
    padding: 30px;
    border-radius: var(--border-radius);
    width: 800px;
    height: 500px;
}