.genre-page-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-top: 10px;
    overflow: hidden;
    max-width: 890px;
    margin-bottom: 20px;
}

.genre-page-list .genre-page-track {
    position: relative;
    width: 176px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.genre-page-list .genre-page-track:hover {
    background-color: #484848;
}

.genre-page-list .genre-page-track:hover .play-btn {
    opacity: 1;
    transform: translate(-25px, -80px) scale(1);
}

.genre-page-list .genre-page-track .play-btn {
    position: absolute;
    font-size: 48px;
    color: #1ccb5b;
    right: 0;
    bottom: 0;
    transform: translate(-25px, -50px) scale(1);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
}


.genre-page-list .genre-page-track .image {
    position: relative;
    width: 150px;
    height: 150px;
}

.genre-page-list .genre-page-track .title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}