.video-page-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    max-width: 1000px;
    gap: 50px;
}

.video-page-list .video {
    position: relative;
    width: 280px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}


.video-page-list .video:hover .play-btn {
    opacity: 1;
}

.video-page-list .video .play-btn {
    position: absolute;
    font-size: 48px;
    color: #1ccb5b;
    right: 0;
    bottom: 0;
    transform: translate(-135px, -100px) scale(1);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

.video-page-list .video:hover .image img {
    transform: scale(1.1);
}

.video-page-list .video .image {
    position: relative;
    width: 250px;
    height: 170px;
    overflow: hidden;
    border-radius: 5px;
}

.video-page-list .video .title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}