/* GLOBAL STYLES */
.custom-placeholder input::placeholder {
    color: #b3b3b3;  
}


.ant-dropdown-menu {
    background-color: black !important; 
    border: 1px solid #444; 
}


.ant-dropdown-menu-item {
    color: white !important;
}

.ant-dropdown-menu-item:hover {
    background-color: #3e3e3e !important;
}


/* LOCAL STYLES */
.header-client {
    display: flex;
    position: fixed;
    z-index: 1;
    gap: 300px;
    background-color: #000;
    height: 60px;
    width: 100%;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.left-container .logo {

}


.left-container .logo .icon-spotify {
    font-size: 32px;
    color: white;
    margin: 0 20px;
}

.left-container .home .icon-container {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%; 
    color: #b3b3b3;
    cursor: pointer;
    background-color: #292929;
    transition: transform 0.2s ease-in-out;
}

.left-container .home .icon-container:hover {
    transform: scale(1.05);
    background-color: #2a2a2a;
    color: white;
}


.left-container .search-input {
    width: 450px;
}


.left-container .ant-input-wrapper {
    border: 1px solid transparent;
    color: #b3b3b3;
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
}

.left-container .ant-input-wrapper:hover {
    background: #383838;
    border: 1px solid #808080;
    color: white;
}

.left-container .ant-input-wrapper:hover .ant-input-group-addon,
.left-container .ant-input-wrapper:hover .ant-input-affix-wrapper {
    background: #383838 !important;
}

.left-container .ant-input-wrapper .ant-input-group-addon {
    color: #b3b3b3 !important;
    border: 1px solid transparent !important;
    background: #282828 !important;
    padding: 10px;
}


.left-container .ant-input-wrapper .ant-input-group-addon .anticon {
    display: inline-block;
    border-left: 1px solid #b3b3b3;
    padding-left: 15px;
    font-size: 22px;
}

.left-container .ant-input-wrapper .ant-input-group-addon .anticon:hover {
    transform: scale(1.05);
    color: white;
}


.left-container .ant-input-wrapper .ant-input-affix-wrapper {
    border: none;
    padding: 10px;
    background: #282828;
    color: #b3b3b3;
    height: 100%;
}

.left-container .ant-input-wrapper .ant-input-affix-wrapper:hover {
    background: #383838;
    color: white;
}

.left-container .ant-input-wrapper .ant-input-affix-wrapper:focus-within {
    background: #383838;
    color: white;
}

.left-container .ant-input-wrapper:has(.ant-input-affix-wrapper:focus-within) {
    border: 2px solid white;
    color: white;
    background: #383838;
}


.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.right-container .feature-btn button {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.right-container .feature-btn:hover button {
    transform: scale(1.03);
}

.right-container .user-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 7px solid #292929;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%; 
    color: black;
    cursor: pointer;
    background-color: #b49bc8;
    transition: transform 0.2s ease-in-out;
}

.right-container .user-wrapper:hover {
    transform: scale(1.05);
}

