.HomePage {
    width: 100%;
    min-height: 600px;
    background: #ccc;
    background: linear-gradient(to bottom, #361515, #121212);
}

.wrap_genres {
    padding: 50px 20px 20px 35px;
}

.wrap_genres .genre .title {
    display: flex;
    justify-content: space-between;
    
}

.wrap_genres .genre .genre-track-list .genre-track {
    display: flex;
    padding: 8px 7px;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
}

.wrap_genres .genre .genre-track-list .genre-track:hover {
    background-color: #484848;
}

.wrap_genres .genre .genre-track-list .genre-track .image {
    position: relative;
    width: 50px;
    height: 50px;
}

.wrap_genres .genre .genre-track-list .genre-track .title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}